.container h1{
    color: rgb(228, 15, 50);
    text-align: center;
}
.card img{
    width: 80%;
    height: auto;
}
.card-img{
    align-items: center;
    margin-top: 10px;
}
.card{
    align-items: center;
    border: none;
    background-color: rgb(228, 15, 50);
}
.card-body{
color: white;
    text-align: center;
    width: 100%;
}
.card button{
    background-color: black;
    color: white;
    padding: 10px 5px ;
    border-radius:20% ;
}
.card-title{
    text-align: center;
    padding-top: 100px;
}
.text-center a{
    background-color:rgb(228, 15, 50) ;
}
.navbar-nav a{
    font-size: larger;
    font-weight: bold;
    color: white !important;
}
.navbar {
    background-color:rgba(20, 1, 20, 1) !important ;
}
.mb-4{
    margin-top: 100px;
}
label{
    color: white;
}
.center {
    color: white;
}
